---
import ArrowLongLeftIcon from "src/components/atoms/Icons/ArrowLongLeftIcon.astro";
import Container from 'src/components/atoms/Container/Container.astro';
import StandardLayout from 'src/components/layouts/StandardLayout/StandardLayout.astro'

import {CuriosityFrontmatter} from 'src/models/curiosity'

const articles = await Astro.glob<CuriosityFrontmatter>('./**/*.mdx')
---

<StandardLayout>
  <Container>
    <p class="text-sm">
      <a class="flex items-center" href="/">
        <ArrowLongLeftIcon class="w-6 h-6 mr-2"/>

        <span>
          Back to Home
        </span>
      </a>
    </p>

    <div class="prose mt-4 dark:prose-invert">
      <ul>
        {articles.reverse().map(article => (
          <li>
            <a href={article.url}>
              {article.frontmatter.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </Container>
</StandardLayout>
