---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Irving Dinh</title>
  </head>
  <body class="bg-slate-50 text-slate-950 font-sans antialiased dark:bg-slate-950 dark:text-slate-50">
    <header class="mb-16">
      &nbsp;
    </header>

    <slot/>

    <footer class="mt-16">
      &nbsp;
    </footer>
  </body>
</html>
