---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Irving Dinh</title>
	</head>
	<body class="font-sans antialiased">
    <p class="p-4">Lorem ipsum dolor sit amet</p>
	</body>
</html>
