---
import Container from "src/components/atoms/Container/Container.astro";
import StandardLayout from 'src/components/layouts/StandardLayout/StandardLayout.astro'
---

<StandardLayout>
  <Container>
    <div class="prose prose-slate dark:prose-invert">
      <ul>
        <li>
          <a href="/curiosity">Curiosity</a>
        </li>
      </ul>
    </div>
  </Container>
</StandardLayout>
