---
import Container from "src/components/atoms/Container/Container.astro";
import StandardLayout from 'src/components/layouts/StandardLayout/StandardLayout.astro'
---

<StandardLayout>
  <Container>
    <div class="prose dark:prose-invert">
      <p>
        Hey, byte buddies! 👋 Step into my virtual vault, your gateway to the thrilling labyrinth of software craftsmanship.
      </p>

      <ul>
        <li>
          <a href="/curiosity">Curiosity</a>

          <span class="block text-sm">
            Here's where I tackle those nagging questions bouncing around in my head, one by one.
          </span>
        </li>
      </ul>

      <p class="text-sm">
        Touch me via <a href="mailto:irving.dinh@gmail.com">irving.dinh@gmail.com</a>.
      </p>
    </div>
  </Container>
</StandardLayout>
