---
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <title>Irving Dinh</title>
</head>
<body class="dark:bg-black dark:text-white">
<slot/>
</body>
</html>
