---
import ArrowLongLeftIcon from "src/components/atoms/Icons/ArrowLongLeftIcon.astro";
import Container from 'src/components/atoms/Container/Container.astro'
import StandardLayout from 'src/components/layouts/StandardLayout/StandardLayout.astro'

const {frontmatter} = Astro.props;
---

<StandardLayout>
  <Container>
    <p class="text-sm">
      <a class="flex items-center" href="/curiosity">
        <ArrowLongLeftIcon class="w-6 h-6 mr-2"/>

        <span>
          Back to Curiosity
        </span>
      </a>
    </p>

    <div class="mt-16">
      <h2 class="font-semibold text-5xl">
        {frontmatter.title}
      </h2>

      <div class="prose mt-8 max-w-none dark:prose-invert">
        <slot/>
      </div>
    </div>
  </Container>
</StandardLayout>
